<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="skylight1.toast"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ToastActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                   android:launchMode="singleInstance" android:screenOrientation="portrait"
                   android:clearTaskOnLaunch="true" android:finishOnTaskLaunch="true" android:allowTaskReparenting="true"
                  android:label="@string/app_name" android:debuggable="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
    <uses-sdk android:minSdkVersion="3" />

</manifest>